@charset "utf-8";
/* CSS Document */
@import (reference) "base.less";
.theme-popover-mask{z-index: 999; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0.5; filter: alpha(opacity=50); -moz-opacity: 0.5; display: none; background-size: 100% 100%;}
.borR(@num:3px){border-radius: @num;}
.wh(@num1,@num2:auto){width: @num1; height: @num2;}
.w(@num1){width: @num1;}
.h_lh(@num1,@num2:auto){height: @num1; line-height: @num2;}
.mt(@num){margin-top: @num;}
.mb(@num){margin-bottom: @num;}
.mr(@num){margin-right: @num;}
.ml(@num){margin-left: @num;}
.bor(@w,@h,@cor:#dcdcdc,@num:1px){border: @num solid @cor; width: @w; height: @h;}
.tr3dPy(@val1,@val2,@second:0.35s){transform: translate(@val1,@val1); transition: @second; -webkit-transform: translate(@val1,@val2); -moz-transform: translate(@val1,@val2); -ms-transform: translate(@val1,@val2); -o-transform: translate(@val1,@val2); transform: translate(@val1,@val2); -webkit-transition: @second; -moz-transition: @second; -ms-transition: @second; -o-transition: @second; transition: @second;}
.tr3dSc(@num,@second:0.35s){-webkit-transform: scale(@num);-moz-transform: scale(@num);-ms-transform: scale(@num);-o-transform: scale(@num);transform: scale(@num);-webkit-transition: @second;-moz-transition: @second;-ms-transition: @second;-o-transition: @second;transition: @second;}
.tr3dXz(@num,@second:0.35s){-webkit-transform: rotate(@num); -moz-transform: rotate(@num); -ms-transform: rotate(@num); -o-transform: rotate(@num); transform: rotate(@num); -webkit-transition: @second; -moz-transition: @second; -ms-transition: @second; -o-transition: @second; transition: @second;}
.trTime(@second:0.35s){-webkit-transition: @second; -moz-transition: @second; -ms-transition: @second; -o-transition: @second; transition: @second;}

/*nav*/
.navbar-brand{padding: 0 15px;}
.navbar-brand img{height: 50px;}
.navbar-default{background:#BA0C2F;border-bottom: 1px solid #9E0900;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{background: #9E0900;.cor1;}
.navbar-default .navbar-nav > li > a{color: #D7D8DC;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{.cor1;}
.navbar-default .navbar-toggle{border: 1px solid #9E0900;}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {background-color: #BA0C2F;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{border: 0;}
.navbar-default .navbar-toggle .icon-bar {background-color: #9E0000;}
.navbar-nav{margin:0px -15px;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{background: #9E0900;.cor1;}
.dropdown-menu{background: #9E0900;padding: 0;}
.dropdown-menu > li > a{color: #D7D8DC;padding: 7px 20px;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{.cor0;}
/*banner*/
#banner-swiper{padding-top: 50px;}
#banner-swiper img{width: 100%;}
/*公用*/
.titleConn{text-align: center; margin: 60px 0;}
.titleConn h2{text-align: center; overflow: hidden; margin-top: 0; color: #000; font-weight: bold; font-size: 36px;}
.titleConn h5{font-size: 24px; color: #454545; margin: 10px 0; line-height: 26px; overflow: hidden;}
/*三张图文介绍*/
.grid-title{text-align: center; margin: 60px 0 45px 0;}
.content-grid:after{content: ""; clear: both;}
.content-grid img{max-width: 100%; border-radius: 5px 5px 0 0;}
.content-grid{margin-top: 30px;}
.content-grid .col-md-4{text-align: center; border-radius: 5px;margin-bottom: 25px;}
.content-grid .boxInfo{box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.25);border-radius: 5px;.tr3dPy(-100px,0,1.55s);.op0;}
.content-grid .boxInfo.selected{.tr3dPy(0,0,1.55s);opacity: 1;}
.content-grid .boxInfo:hover{.tr3dPy(0,-15px,0.65s)}
.content-grid .content-info{background: #BA0C2F; border-radius: 0 0 5px 5px; color: #fff; padding: 1px 10px 1px 10px;}
.content-grid .content-info h3{font-size: 20px; overflow: hidden; margin: 10px 0 5px 0; height: 23px;}
.content-grid .content-info p{overflow: hidden; height: 23px;}
/*文章列表*/
.articleList{.mb30;}
.articleList .col-md-4{.mb15;.tr3dPy(0,-60px,1.05s);.op0;}
.articleList .col-md-4.selected{opacity: 1;.tr3dPy(0,0,1.05s);}
.articleList .col-md-4:nth-child(3).selected{opacity: 1;.tr3dPy(0,0,1.35s);}
.articleList .list-group-item{border: 1px solid #cccccc;.tr3dPy(0,0,0.55s);}
.articleList .list-group-item:hover{background: #E9E9E9;.tr3dPy(0,0,0.55s);}
.col-imgText a{.dk;.wp100;.pr;}
.col-imgText a .bagConn{background: rgba(0,0,0,0.55);.pos;top: 0;left:0;.wh(100%,100%); -webkit-transform: scale(0.3) rotate(-180deg); -moz-transform: scale(0.3) rotate(-180deg); -ms-transform: scale(0.3) rotate(-180deg); -o-transform: scale(0.3) rotate(-180deg); transform: scale(0.3) rotate(-180deg);.trTime(0.85s);.op0;.tc;.cor1;}
.col-imgText a .bagConn h2{.tr3dPy(-100px,50px,1.25s);font-size: 24px;}
.col-imgText a .bagConn h5{.tr3dPy(100px,50px,1.25s);font-size: 16px;}
.col-imgText a:hover .bagConn{-webkit-transform: scale(0.97) rotate(0deg); -moz-transform: scale(0.97) rotate(0deg); -ms-transform: scale(0.97) rotate(0deg); -o-transform: scale(0.97) rotate(0deg); transform: scale(0.97) rotate(0deg);.trTime(0.85s);opacity: 1;}
.col-imgText a:hover .bagConn h2,
.col-imgText a:hover .bagConn h5{.tr3dPy(0,70px,1.25s);}
.col-imgText img{.wp100;}
.col-imgText .text-conn{.w(100%); .h_lh(40px, 20px); .oh; margin: 10px auto; .f10;}
.article-content a{width: 160px; height: 40px; line-height: 40px; border-radius: 4px; border: 0; color: #fff; background: #232323; display: block; text-align: center; position: relative; text-decoration: none;}
.article-content a b{position: relative; z-index: 99; font-weight: 100;}
.article-content a p{width: 160px; height: 40px; line-height: 40px; position: absolute; top: 0; left: 0; transform: scaleX(0); z-index: 1; transition-duration: 0.45s;}
.article-content a:hover p{content: ""; background: #BA0C2F; border-radius: 4px; transform: scaleX(1); transform-origin: 50%; transition-property: transform; transition-duration: 0.35s; transition-timing-function: ease-out; opacity: 1;}
.panel-tabContainer{border: 1px solid #AF1300; border-radius: 0 !important;.tr3dPy(0,-50px,0.65s);}
.panel-tabContainer:nth-child(1).selected{.tr3dPy(0,0,0.45s);}
.panel-tabContainer:nth-child(2).selected{.tr3dPy(0,0,0.65s);}
.panel-tabContainer:nth-child(3).selected{.tr3dPy(0,0,0.85s);}
.panel-tabContainer:nth-child(4).selected{.tr3dPy(0,0,1.05s);}
.panel-tabContainer:nth-child(5).selected{.tr3dPy(0,0,1.25s);}
.panel-tabContainer:nth-child(6).selected{.tr3dPy(0,0,1.45s);}
.panel-tabContainer .panel-heading{background: rgba(175,19,0,0.95); .cor1; .b0; padding: 8px 15px; border-radius: 0;.tr3dPy(0,0);}
.panel-tabContainer .panel-heading:hover{background: #9E0900;.tr3dPy(0,0);}
.panel-tabContainer .panel-body{.h_lh(80px, 20px); .oh; padding: 0 15px; margin: 10px 0;}
.article-item{}
/*半背景*/
.semi-background{background-size: cover; background: url("../images/semi-bag.jpg") no-repeat fixed; color: #fff; overflow: hidden; background-position: center center;}
.semi-background .titleConn{.mt0;}
.semi-background .titleConn h2{.cor1;padding-top: 70px;}
.semi-background .titleConn h5{.cor1;}
.translucent{background-color: rgba(0, 0, 0, 0.65); .pr; min-height: 300px;}
.special-item{padding-bottom: 30px;}
.special-item .col-lg-6{.tr3dPy(-150px,-20px,1.25s);.op0;}
.special-item .col-lg-6.selected{opacity: 1;}
.special-item .col-lg-6:nth-child(1).selected{.tr3dPy(0,0,1.15s);}
.special-item .col-lg-6:nth-child(2).selected{.tr3dPy(0,0,1.45s);}
.special-item .col-lg-6:nth-child(3).selected{.tr3dPy(0,0,1.75s);}
.special-item .col-lg-6:nth-child(4).selected{.tr3dPy(0,0,2.05s);}
.special-item .col-lg-6:hover{.tr3dPy(-10px,0,0.55s) !important;}
.special-item .col-lg-6 h4{height: 18px; overflow: hidden;}
.special-item .col-lg-6 h5{height: 42px; line-height: 22px; overflow: hidden;}
.special-item dl{.mb30;}
.special-item dt{float: left;.wh(120px,120px);.pr;}
.special-item dt p{.dk;.wp100;.h_lh(100%,120px);background: rgba(0,0,0,0.55);.pos;top: 0;left: 0;border-radius: 100%;.tr3dSc(0,0.75s);.cor1;.f16;.tc;}
.special-item dt img{border-radius: 100%;.wh(100%,100%);overflow: hidden; border: 2px solid #fff; display: inline-block;}
.special-item .col-lg-6:hover dt p{.tr3dSc(0.98,0.75s);}
.special-item dd{margin: 0 0 0 135px; padding-top: 15px; color: #fff;}
/*四个网格栅*/
.content-grid2Conn{.bag1;box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.03);}
.content-grid2{.mt20;}
.lost-item{.pr; .mb20;}
.content-grid5 .col-lg-3{.tr3dPy(80px,0);.op0;}
.content-grid5.selected .col-lg-3{opacity: 1;}
.content-grid5.selected .col-lg-3:nth-child(1){.tr3dPy(0,0,1.65s);}
.content-grid5.selected .col-lg-3:nth-child(2){.tr3dPy(0,0,1.85s);}
.content-grid5.selected .col-lg-3:nth-child(3){.tr3dPy(0,0,2.25s);}
.content-grid5.selected .col-lg-3:nth-child(4){.tr3dPy(0,0,3.05s);}
.lost-item img{.wp100;}
.lost-content{.tc;.p10;background:rgba(227, 227, 227, 0.55);}
.lost-content font{.f14; color: #5BE621;}
.lost-content article{.f10; .oh; .h_lh(105px, 25px);}
.lost-time{.w(50px); .h_lh(50px, 50px); .f10; .cor1; .tc; border-radius: 50%; background: #4CC2C4; .m0a; .mt(-17px);}
.gallery-grid{.mb30;}
.gallery-grid .col-md-4{.mb20;}
.bottom-grid .p-title{.wp100; .bag1; color: #BA0C2F; .h_lh(45px, 45px); .f14; padding-left: 15px;}
.bottom-grid .p-title b{.fb;.tr3dPy(0,0,1.55s);.di;}
.bottom-grid .btn-conn .p1,
.bottom-grid .btn-conn .p2{background: #BA0C2F; .w(80%); .h_lh(35px, 35px); .f11; .fl; .cor1; padding-left: 15px; font-family: "宋体"; .m0;.tr3dPy(0,0,0.55s);}
.bottom-grid .btn-conn .p2{background: #303030; .w(20%); .tc; font-size: 2em; .pl0; .fb;}
.bottom-grid .btn-conn .p2 a{.cor1;.tr3dPy(0,0,0.55s);}
.bottom-grid{.op0;box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.08);}
.bottom-grid a{.dk;.oh;}
.bottom-grid a img{.tr3dPy(0,0,1.05s);width: calc(100% + 20px);}
.bottom-grid:hover a img{.tr3dPy(-20px,0,1.05s);}
.bottom-grid.selected{animation: animation1 1.35s linear;opacity: 1;.tr3dPy(0,0,1.75s)}
.bottom-grid.selected:hover .p-title b{animation: animation2 0.85s linear;}
.bottom-grid:hover .btn-conn .p1{background: #E30936;.tr3dPy(0,0,0.55s);}
.bottom-grid:hover .btn-conn .p2,
.bottom-grid:hover .btn-conn .p2 a{background: #616161;.tr3dPy(0,0,0.55s);.tr3dSc(1.01,0.55s);}
@keyframes animation1{0%{.tr3dPy(0,0);}15%{.tr3dPy(0,-40px);}30%{.tr3dPy(0,0);}45%{.tr3dPy(0,-40px);}60%{.tr3dPy(0,0);}75%{.tr3dPy(0,-40px);}100%{.tr3dPy(0,0);}}
@keyframes animation2{0%{.tr3dPy(0,0);opacity: 1;}50%{.tr3dPy(10px,0);.op0;}100%{.tr3dPy(0,0);opacity: 1;}}
/*footer*/
.panel-footer{.mt(40px);}
/*响应媒体查询*/
@media (max-width: 1280px){.article-content article{height: 60px;} .article-content a{margin: 10px 0;}}
@media (max-width: 1024px){.content-grid .col-md-4{width: 33.3333%; float: left;} .titleConn h2{font-size: 22px; .m0;} .titleConn h5{margin: 5px 0;}}
@media (max-width: 960px){.lost-content article{.h_lh(44px, 22px);}}
@media (max-width: 768px){.content-grid .col-md-4{width: 33.3333%; float: left;} .content-grid .content-info h3{font-size: 16px; height: 17px;} .content-grid .content-info p{font-size: 12px; height: 16px;} .special-item dt img{width: 130px; height: 130px;} .article-content a{.w(80%); .m0a;} .article-content a p{.w(100%);} .special-item dt, .special-item dd{float: inherit; text-align: center; margin-left: 0;} .gallery-grid.bottom-grid .p-title{.f12;} .bottom-grid .btn-conn .p1, .bottom-grid .btn-conn .p2{.f10;} .bottom-grid .btn-conn .p2{.f16;}}
@media (max-width: 640px){.content-grid .col-md-4{width: 33.3333%; float: left;} .titleConn{margin: 20px 0;} .titleConn h2{font-size: 1.3em;} .titleConn h5{font-size: 1.1em; height: 40px;}}
@media (max-width: 480px){.article-title{.f12; .tc;} .content-grid .col-md-4{width: 100%;}}
@media (max-width: 320px){}
