@charset "utf-8";
/* CSS Document */
@import (reference) "base.less";

.theme-popover-mask {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  display: none;
  background-size: 100% 100%;
}

.borR(@num:3px) {
  border-radius: @num;
}

.wh(@num1,@num2:auto) {
  width: @num1;
  height: @num2;
}

.w(@num1) {
  width: @num1;
}

.h_lh(@num1,@num2:auto) {
  height: @num1;
  line-height: @num2;
}

.mt(@num) {
  margin-top: @num;
}

.mb(@num) {
  margin-bottom: @num;
}

.mr(@num) {
  margin-right: @num;
}

.ml(@num) {
  margin-left: @num;
}

.bor(@w,@h,@cor:#dcdcdc,@num:1px) {
  border: @num solid @cor;
  width: @w;
  height: @h;
}

.tr3d(@val1,@val2,@second:0.35s) {
  transform: translate(@val1,@val1);

  transition: @second;
  -webkit-transform: translate(@val1,@val2);
  -moz-transform: translate(@val1,@val2);
  -ms-transform: translate(@val1,@val2);
  -o-transform: translate(@val1,@val2);
  transform: translate(@val1,@val2);
  -webkit-transition: @second;
  -moz-transition: @second;
  -ms-transition: @second;
  -o-transition: @second;
  transition: @second;
}

/*nav*/
.navbar-brand {
  padding: 0 15px;
}

.navbar-brand img {
  height: 50px;
}

/*banner*/
#banner-swiper {
  padding-top: 50px;
}

#banner-swiper img {
  width: 100%;
}

/*公用*/
.titleConn {
  text-align: center;
  margin: 40px 0;
}

.titleConn h2 {
  text-align: center;
  overflow: hidden;
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 24px;
}

.titleConn h5 {
  font-size: 14px;
  color: #000;
  margin: 10px 0;
  line-height: 20px;
  overflow: hidden;
}

/*三张图文介绍*/
.grid-title {
  text-align: center;
  margin: 60px 0 45px 0;
}

.content-grid:after {
  content: "";
  clear: both;
}

.content-grid img {
  max-width: 100%;
  border-radius: 5px 5px 0 0;
}

.content-grid {
  margin-top: 30px;
}

.content-grid .boxInfo {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.35);
  border-radius: 15px;
}

.content-grid .col-md-4 {
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
}

.content-grid .content-info {
  background: #BA0C2F;
  border-radius: 0 0 5px 5px;
  color: #fff;
  padding: 1px 10px 1px 10px;
}

.content-grid .content-info h3 {
  font-size: 20px;
  overflow: hidden;
  margin: 10px 0 5px 0;
  height: 23px;
}

.content-grid .content-info p {
  overflow: hidden;
  height: 23px;
}

/*文章列表*/
.articleList {
  .mb30;
}

.articleList .col-md-4 {
  .mb15;
}

.col-imgText img {
  .wp100;
}

.list-group-item {
  border: 1px solid #cccccc;
}

.col-imgText .text-conn {
  .w(100%);
  .h_lh(40px, 20px);
  .oh;
  margin: 10px auto;
  .f10;
}

.article-content a {
  width: 160px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  border: 0;
  color: #fff;
  background: #232323;
  display: block;
  text-align: center;
  position: relative;
  text-decoration: none;
}

.article-content a b {
  position: relative;
  z-index: 99;
  font-weight: 100;
}

.article-content a p {
  width: 160px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  z-index: 1;
  transition-duration: 0.45s;
}

.article-content a:hover p {
  content: "";
  background: #BA0C2F;
  border-radius: 4px;
  transform: scaleX(1);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.35s;
  transition-timing-function: ease-out;
  opacity: 1;
}

.panel-tabContainer {
  border: 1px solid #AF1300;
  border-radius: 0 !important;
}

.panel-tabContainer .panel-heading {
  background: #AF1300;
  .cor1;
  .b0;
  padding: 8px 15px;
  border-radius: 0;
}

.panel-tabContainer .panel-body {
  .h_lh(60px, 20px);
  .oh;
  padding: 0 15px;
  margin: 10px 0;
}

.article-item {
}

/*半背景*/
.semi-background {
  background-size: cover;
  background: url("../images/semi-bag.jpg") no-repeat fixed;
  color: #fff;
  overflow: hidden;
  background-position: center center;
}

.semi-background .titleConn {
  .mt0;
}

.semi-background .titleConn h2 {
  .pt30;
  .cor1;
}

.semi-background .titleConn h5 {
  .cor1;
}

.translucent {
  background-color: rgba(0, 0, 0, 0.65);
  .pr;
  min-height: 300px;
}

.special-item {
  padding-bottom: 30px;
}

.special-item .col-lg-4 h4 {
  height: 18px;
  overflow: hidden;
}

.special-item .col-lg-4 h5 {
  height: 42px;
  line-height: 22px;
  overflow: hidden;
}

.special-item dt {
  float: left;
}

.special-item dt img {
  border-radius: 100%;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: 2px solid #fff;
  display: inline-block;
}

.special-item dd {
  margin: 0 0 0 135px;
  padding-top: 15px;
  color: #fff;
}

/*四个网格栅*/
.content-grid2 {
  .mt20;
}

.lost-item {
  .pr;
  .mb20;
}

.lost-item img {
  .wp100;
}

.lost-content {
  .tc;
  .bag1;
  .p10;
}

.lost-content font {
  .f14;
  color: #5BE621;
}

.lost-content article {
  .f10;
  .oh;
  .h_lh(105px, 25px);
}

.lost-time {
  .w(50px);
  .h_lh(50px, 50px);
  .f10;
  .cor1;
  .tc;
  border-radius: 50%;
  background: #4CC2C4;
  .m0a;
  .mt(-17px);
}

.gallery-grid .col-md-4 {
  .mb20;
}

.gallery-grid .bottom-grid .p-title {
  .wp100;
  .bag1;
  color: #BA0C2F;
  .h_lh(45px, 45px);
  .f14;
  .fb;
  padding-left: 15px;
}

.gallery-grid .bottom-grid img {
  .wp100;
}

.gallery-grid .bottom-grid .btn-conn .p1, .bottom-grid .btn-conn .p2 {
  background: #BA0C2F;
  .w(80%);
  .h_lh(35px, 35px);
  .f11;
  .fl;
  .cor1;
  padding-left: 15px;
  font-family: "宋体";
  .m0;
}

.gallery-grid .bottom-grid .btn-conn .p2 {
  background: #303030;
  .w(20%);
  .tc;
  font-size: 2em;
  .pl0;
  .fb;
}

/*footer*/
.panel-footer {
  .mt(40px);
}

/*响应媒体查询*/
@media (max-width: 1280px) {
  .article-content article {
    height: 60px;
  }

  .article-content a {
    margin: 10px 0;
  }
}

@media (max-width: 1024px) {
  .content-grid .col-md-4 {
    width: 33.3333%;
    float: left;
  }

  .titleConn h2 {
    font-size: 18px;
    .m0;
  }

  .titleConn h5 {
    margin: 5px 0;
  }
}

@media (max-width: 960px) {
  .lost-content article {
    .h_lh(44px, 22px);
  }
}

@media (max-width: 768px) {
  .content-grid .col-md-4 {
    width: 33.3333%;
    float: left;
  }

  .content-grid .content-info h3 {
    font-size: 16px;
    height: 17px;
  }

  .content-grid .content-info p {
    font-size: 12px;
    height: 16px;
  }

  .article-content a {
    .w(80%);
    .m0a;
  }

  .article-content a p {
    .w(100%);
  }

  .special-item dt, .special-item dd {
    float: inherit;
    text-align: center;
    margin-left: 0;
  }

  .special-item dt img {
    width: 180px;
    height: 180px;
  }

  .gallery-grid .col-md-4 {
    clear: both;
  }

  .gallery-grid.bottom-grid .p-title {
    .f12;
  }

  .gallery-grid .bottom-grid .btn-conn .p1, .gallery-grid .bottom-grid .btn-conn .p2 {
    .f10;
  }

  .gallery-grid .bottom-grid .btn-conn .p2 {
    .f16;
  }
}

@media (max-width: 640px) {
  .content-grid .col-md-4 {
    width: 33.3333%;
    float: left;
  }

  .titleConn {
    margin: 20px 0;
  }

  .titleConn h2 {
    font-size: 18px;
  }

  .titleConn h5 {
    font-size: 12px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .article-title {
    .f12;
    .tc;
  }

  .content-grid .col-md-4 {
    width: 100%;
  }
}

@media (max-width: 320px) {
}
