@charset "utf-8";
/* CSS Document */
.theme-popover-mask {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  display: none;
  background-size: 100% 100%;
}
/*nav*/
.navbar-brand {
  padding: 0 15px;
}
.navbar-brand img {
  height: 50px;
}
/*banner*/
#banner-swiper {
  padding-top: 50px;
}
#banner-swiper img {
  width: 100%;
}
/*公用*/
.titleConn {
  text-align: center;
  margin: 60px 0;
}
.titleConn h2 {
  text-align: center;
  overflow: hidden;
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 36px;
}
.titleConn h5 {
  font-size: 24px;
  color: #454545;
  margin: 10px 0;
  line-height: 26px;
  overflow: hidden;
}
/*三张图文介绍*/
.grid-title {
  text-align: center;
  margin: 60px 0 45px 0;
}
.content-grid:after {
  content: "";
  clear: both;
}
.content-grid img {
  max-width: 100%;
  border-radius: 5px 5px 0 0;
}
.content-grid {
  margin-top: 30px;
}
.content-grid .col-md-4 {
  text-align: center;
  border-radius: 5px;
  margin-bottom: 25px;
}
.content-grid .boxInfo {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transform: translate(-50px, -50px);
  -webkit-transform: translate(-50px, 0);
  -moz-transform: translate(-50px, 0);
  -ms-transform: translate(-50px, 0);
  -o-transform: translate(-50px, 0);
  transform: translate(-50px, 0);
  -webkit-transition: 1.25s;
  -moz-transition: 1.25s;
  -ms-transition: 1.25s;
  -o-transition: 1.25s;
  transition: 1.25s;
  opacity: 0;
}
.content-grid .boxInfo.selected {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 1.25s;
  -moz-transition: 1.25s;
  -ms-transition: 1.25s;
  -o-transition: 1.25s;
  transition: 1.25s;
  opacity: 1;
}
.content-grid .boxInfo:hover {
  transform: translate(0, 0);
  -webkit-transform: translate(0, -15px);
  -moz-transform: translate(0, -15px);
  -ms-transform: translate(0, -15px);
  -o-transform: translate(0, -15px);
  transform: translate(0, -15px);
  -webkit-transition: 0.65s;
  -moz-transition: 0.65s;
  -ms-transition: 0.65s;
  -o-transition: 0.65s;
  transition: 0.65s;
}
.content-grid .content-info {
  background: #BA0C2F;
  border-radius: 0 0 5px 5px;
  color: #fff;
  padding: 1px 10px 1px 10px;
}
.content-grid .content-info h3 {
  font-size: 20px;
  overflow: hidden;
  margin: 10px 0 5px 0;
  height: 23px;
}
.content-grid .content-info p {
  overflow: hidden;
  height: 23px;
}
/*文章列表*/
.articleList {
  margin-bottom: 30px;
}
.articleList .col-md-4 {
  margin-bottom: 15px;
  transform: translate(0, 0);
  -webkit-transform: translate(0, -60px);
  -moz-transform: translate(0, -60px);
  -ms-transform: translate(0, -60px);
  -o-transform: translate(0, -60px);
  transform: translate(0, -60px);
  -webkit-transition: 1.05s;
  -moz-transition: 1.05s;
  -ms-transition: 1.05s;
  -o-transition: 1.05s;
  transition: 1.05s;
  opacity: 0;
}
.articleList .col-md-4.selected {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 1.05s;
  -moz-transition: 1.05s;
  -ms-transition: 1.05s;
  -o-transition: 1.05s;
  transition: 1.05s;
}
.articleList .col-md-4:nth-child(3).selected {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 1.35s;
  -moz-transition: 1.35s;
  -ms-transition: 1.35s;
  -o-transition: 1.35s;
  transition: 1.35s;
}
.articleList .list-group-item {
  border: 1px solid #cccccc;
}
.col-imgText a {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.col-imgText a .bagConn {
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.3) rotate(-180deg);
  -moz-transform: scale(0.3) rotate(-180deg);
  -ms-transform: scale(0.3) rotate(-180deg);
  -o-transform: scale(0.3) rotate(-180deg);
  transform: scale(0.3) rotate(-180deg);
  -webkit-transition: 0.85s;
  -moz-transition: 0.85s;
  -ms-transition: 0.85s;
  -o-transition: 0.85s;
  transition: 0.85s;
  opacity: 0;
  text-align: center;
  color: #FFFFFF;
}
.col-imgText a .bagConn h2 {
  transform: translate(-100px, -100px);
  -webkit-transform: translate(-100px, 50px);
  -moz-transform: translate(-100px, 50px);
  -ms-transform: translate(-100px, 50px);
  -o-transform: translate(-100px, 50px);
  transform: translate(-100px, 50px);
  -webkit-transition: 1.25s;
  -moz-transition: 1.25s;
  -ms-transition: 1.25s;
  -o-transition: 1.25s;
  transition: 1.25s;
}
.col-imgText a .bagConn h5 {
  transform: translate(100px, 100px);
  -webkit-transform: translate(100px, 50px);
  -moz-transform: translate(100px, 50px);
  -ms-transform: translate(100px, 50px);
  -o-transform: translate(100px, 50px);
  transform: translate(100px, 50px);
  -webkit-transition: 1.25s;
  -moz-transition: 1.25s;
  -ms-transition: 1.25s;
  -o-transition: 1.25s;
  transition: 1.25s;
}
.col-imgText a:hover .bagConn {
  -webkit-transform: scale(0.97) rotate(0deg);
  -moz-transform: scale(0.97) rotate(0deg);
  -ms-transform: scale(0.97) rotate(0deg);
  -o-transform: scale(0.97) rotate(0deg);
  transform: scale(0.97) rotate(0deg);
  -webkit-transition: 0.85s;
  -moz-transition: 0.85s;
  -ms-transition: 0.85s;
  -o-transition: 0.85s;
  transition: 0.85s;
  opacity: 1;
}
.col-imgText a:hover .bagConn h2,
.col-imgText a:hover .bagConn h5 {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 70px);
  -moz-transform: translate(0, 70px);
  -ms-transform: translate(0, 70px);
  -o-transform: translate(0, 70px);
  transform: translate(0, 70px);
  -webkit-transition: 1.25s;
  -moz-transition: 1.25s;
  -ms-transition: 1.25s;
  -o-transition: 1.25s;
  transition: 1.25s;
}
.col-imgText img {
  width: 100%;
  margin: 0 auto;
}
.col-imgText .text-conn {
  width: 100%;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  margin: 10px auto;
  font-size: 1.0em;
}
.article-content a {
  width: 160px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  border: 0;
  color: #fff;
  background: #232323;
  display: block;
  text-align: center;
  position: relative;
  text-decoration: none;
}
.article-content a b {
  position: relative;
  z-index: 99;
  font-weight: 100;
}
.article-content a p {
  width: 160px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  z-index: 1;
  transition-duration: 0.45s;
}
.article-content a:hover p {
  content: "";
  background: #BA0C2F;
  border-radius: 4px;
  transform: scaleX(1);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.35s;
  transition-timing-function: ease-out;
  opacity: 1;
}
.panel-tabContainer {
  border: 1px solid #AF1300;
  border-radius: 0 !important;
  transform: translate(0, 0);
  -webkit-transform: translate(0, -50px);
  -moz-transform: translate(0, -50px);
  -ms-transform: translate(0, -50px);
  -o-transform: translate(0, -50px);
  transform: translate(0, -50px);
  -webkit-transition: 0.65s;
  -moz-transition: 0.65s;
  -ms-transition: 0.65s;
  -o-transition: 0.65s;
  transition: 0.65s;
}
.panel-tabContainer:nth-child(1).selected {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 0.45s;
  -moz-transition: 0.45s;
  -ms-transition: 0.45s;
  -o-transition: 0.45s;
  transition: 0.45s;
}
.panel-tabContainer:nth-child(2).selected {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 0.65s;
  -moz-transition: 0.65s;
  -ms-transition: 0.65s;
  -o-transition: 0.65s;
  transition: 0.65s;
}
.panel-tabContainer:nth-child(3).selected {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 0.85s;
  -moz-transition: 0.85s;
  -ms-transition: 0.85s;
  -o-transition: 0.85s;
  transition: 0.85s;
}
.panel-tabContainer:nth-child(4).selected {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 1.05s;
  -moz-transition: 1.05s;
  -ms-transition: 1.05s;
  -o-transition: 1.05s;
  transition: 1.05s;
}
.panel-tabContainer:nth-child(5).selected {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 1.25s;
  -moz-transition: 1.25s;
  -ms-transition: 1.25s;
  -o-transition: 1.25s;
  transition: 1.25s;
}
.panel-tabContainer:nth-child(6).selected {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 1.45s;
  -moz-transition: 1.45s;
  -ms-transition: 1.45s;
  -o-transition: 1.45s;
  transition: 1.45s;
}
.panel-tabContainer .panel-heading {
  background: rgba(175, 19, 0, 0.95);
  color: #FFFFFF;
  border: 0;
  padding: 8px 15px;
  border-radius: 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
}
.panel-tabContainer .panel-heading:hover {
  background: #9E0900;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
}
.panel-tabContainer .panel-body {
  height: 80px;
  line-height: 20px;
  overflow: hidden;
  padding: 0 15px;
  margin: 10px 0;
}
/*半背景*/
.semi-background {
  background-size: cover;
  background: url("../images/semi-bag.jpg") no-repeat fixed;
  color: #fff;
  overflow: hidden;
  background-position: center center;
}
.semi-background .titleConn {
  margin-top: 0 !important;
}
.semi-background .titleConn h2 {
  color: #FFFFFF;
  padding-top: 70px;
}
.semi-background .titleConn h5 {
  color: #FFFFFF;
}
.translucent {
  background-color: rgba(0, 0, 0, 0.65);
  position: relative;
  min-height: 300px;
}
.special-item {
  padding-bottom: 30px;
}
.special-item .col-lg-6 {
  transform: translate(-150px, -150px);
  -webkit-transform: translate(-150px, -20px);
  -moz-transform: translate(-150px, -20px);
  -ms-transform: translate(-150px, -20px);
  -o-transform: translate(-150px, -20px);
  transform: translate(-150px, -20px);
  -webkit-transition: 1.25s;
  -moz-transition: 1.25s;
  -ms-transition: 1.25s;
  -o-transition: 1.25s;
  transition: 1.25s;
  opacity: 0;
}
.special-item .col-lg-6.selected {
  opacity: 1;
}
.special-item .col-lg-6:nth-child(1).selected {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 1.15s;
  -moz-transition: 1.15s;
  -ms-transition: 1.15s;
  -o-transition: 1.15s;
  transition: 1.15s;
}
.special-item .col-lg-6:nth-child(2).selected {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 1.45s;
  -moz-transition: 1.45s;
  -ms-transition: 1.45s;
  -o-transition: 1.45s;
  transition: 1.45s;
}
.special-item .col-lg-6:nth-child(3).selected {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 1.75s;
  -moz-transition: 1.75s;
  -ms-transition: 1.75s;
  -o-transition: 1.75s;
  transition: 1.75s;
}
.special-item .col-lg-6:nth-child(4).selected {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 2.05s;
  -moz-transition: 2.05s;
  -ms-transition: 2.05s;
  -o-transition: 2.05s;
  transition: 2.05s;
}
.special-item .col-lg-6:hover {
  transform: translate(-10px, -10px) !important;
  -webkit-transform: translate(-10px, 0) !important;
  -moz-transform: translate(-10px, 0) !important;
  -ms-transform: translate(-10px, 0) !important;
  -o-transform: translate(-10px, 0) !important;
  transform: translate(-10px, 0) !important;
  -webkit-transition: 0.55s !important;
  -moz-transition: 0.55s !important;
  -ms-transition: 0.55s !important;
  -o-transition: 0.55s !important;
  transition: 0.55s !important;
}
.special-item .col-lg-6 h4 {
  height: 18px;
  overflow: hidden;
}
.special-item .col-lg-6 h5 {
  height: 42px;
  line-height: 22px;
  overflow: hidden;
}
.special-item dl {
  margin-bottom: 30px;
}
.special-item dt {
  float: left;
}
.special-item dt img {
  border-radius: 100%;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: 2px solid #fff;
  display: inline-block;
}
.special-item dd {
  margin: 0 0 0 135px;
  padding-top: 15px;
  color: #fff;
}
/*四个网格栅*/
.content-grid2 {
  margin-top: 20px;
}
.lost-item {
  position: relative;
  margin-bottom: 20px;
}
.lost-item img {
  width: 100%;
  margin: 0 auto;
}
.lost-content {
  text-align: center;
  background: #FFFFFF;
  padding: 10px;
}
.lost-content font {
  font-size: 1.4em;
  color: #5BE621;
}
.lost-content article {
  font-size: 1.0em;
  overflow: hidden;
  height: 105px;
  line-height: 25px;
}
.lost-time {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.0em;
  color: #FFFFFF;
  text-align: center;
  border-radius: 50%;
  background: #4CC2C4;
  margin: 0 auto;
  margin-top: -17px;
}
.gallery-grid .col-md-4 {
  margin-bottom: 20px;
}
.bottom-grid .p-title {
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  color: #BA0C2F;
  height: 45px;
  line-height: 45px;
  font-size: 1.4em;
  padding-left: 15px;
}
.bottom-grid .p-title b {
  font-weight: bold;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 1.55s;
  -moz-transition: 1.55s;
  -ms-transition: 1.55s;
  -o-transition: 1.55s;
  transition: 1.55s;
  display: inline-block;
}
.bottom-grid img {
  width: 100%;
  margin: 0 auto;
}
.bottom-grid .btn-conn .p1,
.bottom-grid .btn-conn .p2 {
  background: #BA0C2F;
  width: 80%;
  height: 35px;
  line-height: 35px;
  font-size: 1.1em;
  float: left;
  color: #FFFFFF;
  padding-left: 15px;
  font-family: "宋体";
  margin: 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 0.55s;
  -moz-transition: 0.55s;
  -ms-transition: 0.55s;
  -o-transition: 0.55s;
  transition: 0.55s;
}
.bottom-grid .btn-conn .p2 {
  background: #303030;
  width: 20%;
  text-align: center;
  font-size: 2em;
  padding-left: 0;
  font-weight: bold;
}
.bottom-grid {
  opacity: 0;
}
.bottom-grid.selected {
  animation: animation1 1.35s linear;
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 1.75s;
  -moz-transition: 1.75s;
  -ms-transition: 1.75s;
  -o-transition: 1.75s;
  transition: 1.75s;
}
.bottom-grid.selected .p-title b.selected {
  animation: animation2 2.55s linear;
}
.bottom-grid:hover .btn-conn .p1 {
  background: #E30936;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 0.55s;
  -moz-transition: 0.55s;
  -ms-transition: 0.55s;
  -o-transition: 0.55s;
  transition: 0.55s;
}
.bottom-grid:hover .btn-conn .p2 {
  background: #616161;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 0.55s;
  -moz-transition: 0.55s;
  -ms-transition: 0.55s;
  -o-transition: 0.55s;
  transition: 0.55s;
}
@keyframes animation1 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
  }
  15% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
  }
  30% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
  }
  45% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
  }
  60% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
  }
  75% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
  }
}
@keyframes animation2 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
    opacity: 1;
  }
  20% {
    transform: translate(10px, 10px);
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
    opacity: 0;
  }
  40% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
    opacity: 1;
  }
  60% {
    transform: translate(10px, 10px);
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
    opacity: 0;
  }
  80% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
    opacity: 1;
  }
}
/*footer*/
.panel-footer {
  margin-top: 40px;
}
/*响应媒体查询*/
@media (max-width: 1280px) {
  .article-content article {
    height: 60px;
  }
  .article-content a {
    margin: 10px 0;
  }
}
@media (max-width: 1024px) {
  .content-grid .col-md-4 {
    width: 33.3333%;
    float: left;
  }
  .titleConn h2 {
    font-size: 22px;
    margin: 0;
  }
  .titleConn h5 {
    margin: 5px 0;
  }
}
@media (max-width: 960px) {
  .lost-content article {
    height: 44px;
    line-height: 22px;
  }
}
@media (max-width: 768px) {
  .content-grid .col-md-4 {
    width: 33.3333%;
    float: left;
  }
  .content-grid .content-info h3 {
    font-size: 16px;
    height: 17px;
  }
  .content-grid .content-info p {
    font-size: 12px;
    height: 16px;
  }
  .special-item dt img {
    width: 130px;
    height: 130px;
  }
  .article-content a {
    width: 80%;
    margin: 0 auto;
  }
  .article-content a p {
    width: 100%;
  }
  .special-item dt,
  .special-item dd {
    float: inherit;
    text-align: center;
    margin-left: 0;
  }
  .gallery-grid.bottom-grid .p-title {
    font-size: 1.2em;
  }
  .bottom-grid .btn-conn .p1,
  .bottom-grid .btn-conn .p2 {
    font-size: 1.0em;
  }
  .bottom-grid .btn-conn .p2 {
    font-size: 1.6em;
  }
}
@media (max-width: 640px) {
  .content-grid .col-md-4 {
    width: 33.3333%;
    float: left;
  }
  .titleConn {
    margin: 20px 0;
  }
  .titleConn h2 {
    font-size: 1.3em;
  }
  .titleConn h5 {
    font-size: 1.1em;
    height: 40px;
  }
}
@media (max-width: 480px) {
  .article-title {
    font-size: 1.2em;
    text-align: center;
  }
  .content-grid .col-md-4 {
    width: 100%;
  }
}
